<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"> <!-- llamamos a bootstrap-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <link rel="shortcut icon" href="{% static 'img/pawprint.png' %}">
    <script src="{% static 'js/validaForm.js' %}"></script>
    <script src="{% static 'js/reloj.js' %}"></script>
    
    
    <!-- api -->
    <script>
        let url='https://api.thedogapi.com/v1/breeds';
            fetch(url)
                .then(response=>response.json())
                .then(data=>mostrarData(data))
                .catch(error=>console.log(error))
            const mostrarData=(data)=> {
                console.log(data)
                let body=""
                for (var i=0 ; i<data.length ; i++) {
                    
                        body+=  `<tr>
                                <td><img src='${data[i].image.url}' width="200px" height="200px"></td>
                                <td>${data[i].name}</td>
                                <td>${data[i].bred_for}</td>
                                <td>${data[i].breed_group}</td>
                                <td>${data[i].life_span}</td>
                                <td>${data[i].temperament}</td>
                                <td>${data[i].origin}</td>
                                </tr>`              }
                document.getElementById('data').innerHTML=body 
                                        }
    </script>

</head>
<body onload="mueveReloj()">
    <!--menú de navegación-->
    <nav class="navbar navbar-expand-sm navbar-light bg-light"> <!-- formado de arribita <3 -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones"> <!--boton de hamburguesa-->
          <span class="navbar-toggler-icon"></span> <!-- icono de las 3 lineas en opc -->
        </button>

        <!--etiqueta <a> permite crear enlaces-->
        <a class="navbar-brand" href="#"> <!-- espacio derecho para icono -->
            <img src="{% static 'img/pawprint.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            Mascotas
        </a>
        
        <!--permite agrupar elementos, crea secciones o cajas-->
        <div class="collapse navbar-collapse" id="opciones" style="color: aliceblue;">
            <ul class="navbar-nav mr-auto"> <!--etiqueta de listas desordenadas-->
                <li class="nav-item;">
                    <a class="nav-link" href="{% url 'inicio' %}" onmousemove="colorNav(this)" 
                    onmouseout="transparenteNav(this)" style="border-radius: 15px;">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'mision' %}" class="nav-link" onmousemove="colorNav(this)" 
                    onmouseout="transparenteNav(this)" style="border-radius: 15px;">¿Quienes Somos?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mostrarUsuario' %}" onmousemove="colorNav(this)" 
                    onmouseout="transparenteNav(this)" style="border-radius: 15px;">Tienda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contactanos' %}" onmousemove="colorNav(this)" 
                    onmouseout="transparenteNav(this)" style="border-radius: 15px;">Contactanos</a>
                </li>
            </ul>
            {% if user.is_authenticated and user.is_superuser %}
            <ul class="navbar-nav mt-2 mt-md-0">
                <li class="nav-item dropdown btn btn-outline-info">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Bienvenido "{{user.username}}"</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item " href="{% url 'registrar' %}">Registrar Usuario</a>
                      <a class="dropdown-item" href="{% url 'mostrarAdmin' %}">Mostrar Articulos</a>
                      <a class="dropdown-item" href="{% url 'tienda' %}">Tienda Beta</a>
                      <a class="dropdown-item" href="{% url 'boletas_usuario' %}">Pedidos</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>
                    </div>
                </li>
            </ul>
            {% elif user.is_authenticated %}
            <ul class="navbar-nav mt-2 mt-md-0">
                <li class="nav-item dropdown btn btn-outline-info">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Bienvenido "{{user.username}}"</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'boletas_usuario' %}">Pedidos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>
                    </div>
                </li>
            </ul>
            {% else %}
            <div class="mt-2 mt-md-0">
                <a href="{% url 'login' %}" id="user" class="btn btn-outline-info">Iniciar Sesión</a>
            </div>
            <div class="mt-2 mt-md-0 ml-md-2">
                <a href="{% url 'registrar' %}" id="user" class="btn btn-outline-info">Registrarse</a>
            </div>
            {% endif %}
        </div>
        
    </nav> <!--cierre de menú-->
    <br>

    <hr>
    <div class="row" style="background-color: aliceblue; border-radius: 200px;">
        <div class="col-md" style="text-align: center; font-family: cursive;" >
            <div>
                <h1> Horario de Atencion </h1>
            </div>
            <div>
                <h4> 8:00 hrs a 18:00 hrs</h4>
            </div>
            <div>
                <h3> de Lunes a Viernes </h3>
            </div>
        </div>
    
        <div class="col-md" style="text-align: center; " >
            <br>
            <form name="form_reloj">
                <input type="text" name="reloj" size="10" onfocus="window.document.form_reloj.reloj.blur()" style="background-color : Black; color : White; font-family : Verdana, Arial, Helvetica; font-size : 40pt; text-align : center; border-radius: 200px;">
            </form>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="container; col-md-4"></div>
        <div class="container; col-md-4" style="background-color: aliceblue; border-radius: 200px; padding: 20px;">
            <h1 style="color: black; text-align: center; font-size: 48px;">Tienda Mascotas</h1>
            <h6 style="color: black; text-align: center; font-size: 12px;" >Para saber más sobre sus mascotas haga click abajo :*</h6>
            
            <br>
            
            <!-- Pop Up-->

            <div class="container-fluid" style="text-align: center;">
                <button onclick="togglePopup()" class="btn btn-info">Información de Razas</button>
            </div>

            <div id="popup" class="popup">
                <div class="popup-content">
                    <h2 style="color: black;">Razas de Caninos</h2>
                    <p>Le brindamos más información acerca de sus queridas mascotas.</p>
                    <div class="container">
                        <table class="table">
                            <thead style="text-align: center;">                 
                                <tr>               
                                    <th></th>
                                    <th>Name</th>
                                    <th>Bred For</th>
                                    <th>Breed Group</th>
                                    <th>Life Span</th>
                                    <th>Temperament</th>
                                    <th>Origin</th>
                                </tr>
                            </thead>
                            <tbody id="data">
                
                            </tbody>
                        </table>
                    </div>
                    <button class="btn-close btn-close-white" onclick="togglePopup()">&times;</button>
                </div>
            </div>
        </div>
        <div class="container; col-md-4"></div>
    </div>
    <br>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="row" style="padding: 5px 0;">
                    <div class="col-12 d-flex flex-wrap">
                        <div class="row">
                            {% for articulo in articulos %}
                                <div class="col-md-3" style="margin-bottom: 20px;">
                                    <div class="card text-center h-100 d-flex flex-column">
                                        {% if articulo.imagen %}
                                            <img src="{{ articulo.imagen.url }}" class="card-img-top mx-auto">
                                        {% else %}
                                            <img src="{% static 'img/sinfoto.jpg' %}" class="card-img-top mx-auto">
                                        {% endif %}
                                        <div class="card-body flex-grow-1" style="margin-bottom: 60px;">
                                            <h4 class="card-title" style="font-size: large;">{{ articulo.nombre }}</h4>
                                            {% if articulo.stock > 0 %}
                                                <p>Disponibles: {{ articulo.stock }}</p>
                                            {% else %}
                                                <p style="color: rgb(212, 24, 24); font-weight: 500; background-color: whitesmoke; border-radius: 600px;">No Disponible</p>
                                            {% endif %}
                                            <p class="card-text" style="font-size: x-large; font-weight: 500; color: red;">
                                                ${{ articulo.precio }}<br>
                                            </p>
                                        </div>
                                        {% if articulo.stock > 0 %}
                                            {% if user.is_authenticated %}
                                                <div class="card-footer" style="position: absolute; bottom: 0; width: 100%;">
                                                    <a href="{% url 'agregar' articulo.cod %}" class="btn btn-outline-success">Agregar al carro</a>
                                                </div>
                                            {% else %}
                                                <div class="card-footer" style="position: absolute; bottom: 0; width: 100%;">
                                                    <a href="{% url 'login' %}" class="btn btn-outline-success">Iniciar Sesión</a>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="card-footer" style="position: absolute; bottom: 0; width: 100%;">
                                                <button class="btn btn-outline-danger" disabled>SIN STOCK</button>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <hr>
                <!-- Mostrar la paginación -->
                <div class="pagination justify-content-center">
                    <ul class="pagination">
                        {% if articulos.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ articulos.previous_page_number }}">Anterior</a></li>
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">Anterior</span></li>
                        {% endif %}
                        {% for i in articulos.paginator.page_range %}
                            {% if articulos.number == i %}
                                <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if articulos.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ articulos.next_page_number }}">Siguiente</a></li>
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">Siguiente</span></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                {% include "carrito.html" %}
            </div>
        </div>
    </div>
    
    <!-- para que funcione el boton de hamburguesa -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
    
    

    <br><br>        
    <footer>
        <div>
            <div style="text-align: center;">
                <a href="{% url 'inicio' %}"><img src="{% static 'img/pawprint.png' %}" width="100pxs" height="100px"></a>
            </div>
            <div>
                <h2>Síguenos</h2>
                <div class="redes" style="text-align: center;">
                    <a href="https://www.facebook.com/"><img src="{% static 'img/facebook2.png' %}" width="55px" height="55px"></a>
                        <a href="https://www.instagram.com/"><img src="{% static 'img/instagram.png' %}" width="50px" height="50px"></a>
                            <a href="https://web.whatsapp.com/"><img src="{% static 'img/whatsapp.png' %}" width="50px" height="50px"></a>
                                <a href="https://web.telegram.org/z/"><img src="{% static 'img/telegram.png' %}" width="50px" height="50px"></a>
                </div>
            </div>
        </div>
        
        <div class="container-fluid">
            <p style="text-align: center; color: darkblue;">© Mascotas - Todos los derechos reservados</p>
        </div>
    </footer>
</body>

</html>